<link rel="stylesheet" href="/normalize.css">
<link rel="stylesheet" href="/skeleton.css">

<h1><%=budget[i].name</h1>

<div class="container">
    <!-- what is container used for? -->
<button type="button"><a href="/budget">Back</a></button>
<h3><%=budget[i].date</h3>
<h3><%=budget[i].name</h3>
<h3><%=budget[i].from</h3>
<h3><%=budget[i].amount</h3>
<h3><%=budget[i].tags</h3>

</div>