<link rel="stylesheet" href="/normalize.css">
<link rel="stylesheet" href="/skeleton.css">

<h1><%=budget.name %></h1>

<div class="container">
    <!-- what is container used for? -->
<button type="button"><a href="/budget">Back</a></button>
<h3><%=budget.date %></h3>
<h3><%=budget.name %> </h3>
<h3><%=budget.amount %></h3>
<h3><%=budget.from %></h3>
<h3><%=budget.tags %></h3>

</div>